<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends 'template.html' %} {% block head %}
    <title>Reading history</title>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <h2 align="center">Your Reading History</h2>
          <hr />
          <div class="hScroller">
            {% for i in range(count) %}
            <div class="row">
              <div class="col-md-4">
                <img class="hCover" src="{{ covers[i] }}" />
              </div>
              <div class="hDetails col-md-8">
                <h4>{{ books[i] }}</h4>
                <h6>
                  <em>{{ author[i] }}</em>
                </h6>
                {% for t in tags[i] %}
                <span class="badge badge-info">{{ t }}</span>
                {% endfor %}
              </div>
            </div>
            <hr />
            {% endfor %}
          </div>
          <!-- <div class="row">
            <div class="col-md-4">
              <img class="hCover" src="{{ cover1 }}" />
            </div>
            <div class="hDetails col-md-8">
              <div class="">
                <h4>{{ book1 }}</h4>
                <h6>
                  <em>{{ author1 }}</em>
                </h6>
                <span class="badge badge-info">Art</span>
                <span class="badge badge-info">Cookbooks</span>
              </div>
            </div>
          </div>
          <hr />

          <ul>
            <li>Book1 {{ book1 }}</li>
            <li>Book2 {{ book2 }}</li>
            <li>Book3 {{ book3 }}</li>
          </ul> -->
        </div>
        <div class="col-md-4">
          <div class="row row-adjust" name="HotTags">
            <div class="col-md-12">
              <h5 align="center">Hot Tags</h5>
              <hr />
              <span class="badge badge-info">Art</span>
              <span class="badge badge-info">Biography</span>
              <span class="badge badge-info">Business</span>
              <span class="badge badge-info">Children's</span>
              <span class="badge badge-info">Christian</span>
              <span class="badge badge-info">Classics</span>
              <span class="badge badge-info">Comics</span>
              <span class="badge badge-info">Cookbooks</span>
              <span class="badge badge-info">Ebooks</span>
              <span class="badge badge-info">Fantasy</span>
              <span class="badge badge-info">Fiction</span>
              <span class="badge badge-info">Graphic Novels</span>
              <span class="badge badge-info">Historical Fiction</span>
              <span class="badge badge-info">History</span>
              <span class="badge badge-info">Horror</span>
              <span class="badge badge-info">Memoir</span>
              <span class="badge badge-info">Music</span>
              <span class="badge badge-info">Mystery</span>
              <span class="badge badge-info">Nonfiction</span>
              <span class="badge badge-info">Poetry</span>
              <span class="badge badge-info">Psychology</span>
              <span class="badge badge-info">Romance</span>
              <span class="badge badge-info">Science</span>
              <span class="badge badge-info">Science</span>
              <span class="badge badge-info">Fiction</span>
              <span class="badge badge-info">Self Help</span>
              <span class="badge badge-info">Sports</span>
              <span class="badge badge-info">Thriller</span>
              <span class="badge badge-info">Travel</span>
              <span class="badge badge-info">Young Adult</span>
              <span class="badge badge-info">More genres</span>
            </div>
          </div>
          <div class="row row-adjust" name="Top20">
            <div class="col-md-12">
              <div class="mainHeader">
                <h5 align="center">Top 20 in Books</h5>
                <hr />
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                  <li class="list-group-item">Cras justo odio</li>
                  <li class="list-group-item">Dapibus ac facilisis in</li>
                  <li class="list-group-item">Morbi leo risus</li>
                  <li class="list-group-item">Porta ac consectetur ac</li>
                  <li class="list-group-item">Vestibulum at eros</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
