<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "template.html" %}
    <title>Group9 Book Review System</title>
    <meta name="description" content="Book Review Page" />
    <meta name="author" content="Group9" />
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1 class="display-3">Sorry!</h1>
            <p class="lead">
                <strong>This function is limited to only admin users. </strong>
                <br/>Please log out and login to an admin user.</p>
            <hr>
            <p>
                Having trouble?
                <a href="">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
            </p>
        </div>
    </div>
    {% endblock %}
</body>

</html>