<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "template.html" %}
    <title>Group9 Book Review System</title>
    <meta name="description" content="Add a Book Page" />
    <meta name="author" content="Group9" />
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row add-book-form" style="margin:30px 200px" name="BookForm">
            <div class="col-md-12">
                <!-- Default form contact -->
                <form class="text-center border border-light p-5" method="POST">

                    <h4>Contact</h4>
                    <input name="ContactTitle" type="text" class="form-control mb-4" placeholder="Title">
                    <div class="form-group">
                        <textarea name="ContactMe" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Tell us your doubt here ~"></textarea>
                    </div>


                    <!-- Send button -->
                    <input class="btn btn-info btn-block mt-4" type="submit" value="Send" />

                </form>
                <!-- Default form contact -->
            </div>
        </div>
    </div>
    {% endblock %}
</body>

</html>