<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "template.html" %}
    <title>Group9 Book Review System</title>
    <meta name="description" content="Home Page" />
    <meta name="author" content="Group9" />
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row row-adjust">
            <div class="col-md-12" style="background-image: url('static/imag/thumbnail.jpg');background-size: cover;">
                <form style="margin:180px" method="POST">
                    <div class="input-group mb-3 input-group-lg">
                        <input name="search-input" type="text" class="form-control" placeholder="Search for books">
                        <div class="input-group-append">
                            <input name="search-btn" class="btn btn-warning btn-lg" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
		<div class="row row-adjust">
			<div class="col-md-8">
				<div class="row" name="NewArrival">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">New Arrivals</h3>
							<hr/>
						</div>
						<div class="row">
							{% for i in newArrivals %}
							<div class="card bookCover">
								<a href="{{url_for('review',asin=i['asin'])}}">
								<img src="{{i['imUrl']}}" class="card-img-top " alt="...">
								</a>
								<div>
									<p class="card-text">{{i['title']}}
										<br/>{{i['author']}}</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="row" name="GoodReviews">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">See What Others Read</h3>
							<hr/>
						</div>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">

								<div class="carousel-item active">
									<div class="carousel-caption">
										<h4>Nelson Mandela</h4>
										<p>The greatest glory in living lies not in never falling, but in rising every time we fall.</p>
									</div>
								</div>
								{% for i in myresult %}
								<div class="carousel-item">
									<div class="carousel-caption">
										<h4>{{i[0]}}</h4>
										<p>{{i[1]}}</p>
									</div>
								</div>
								{% endfor %}
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
				<div class="row" name="TrendyBook">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">Trendy</h3>
							<hr/>
						</div>
						<div class="row">

							{% for i in BookInfoList %}
							<div class="card bookCover">
								<a href="{{url_for('review',asin=i['asin'])}}">
								<img src="{{i['imUrl']}}" class="card-img-top " alt="...">
								</a>
								<div>
									<p class="card-text">{{i['asin']}}
										<br/>Unkown</p>
								</div>
							</div>
							{% endfor %}


						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row row-adjust" name="HotTags">
					<div class="col-md-12">
						<h5 align="center">Hot Tags</h5>
						<hr/>
						{% for t in TagList %}
						<a href="{{url_for('search',search_input=t)}}">
						<span class="badge badge-info">{{ t }}</span>
						</a>
						{% endfor %}
					</div>
				</div>
				<div class="row row-adjust" name="Top20">
					<div class="col-md-12">
						<div class="mainHeader">
							<h5 align="center">Top 20 in Books</h5>
							<hr/>
							<ul class="list-group list-group-flush">
								{% for i in TopBooks %}
								<a href="{{url_for('review',asin=i['asin'])}}">
								<li class="list-group-item">{{i['asin']}}</li>
								</a>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Footer">
		<p style="color:white; margin:20px" align="center"></p>
	</div>
	{% endblock %}
</body>

</html>
