<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "template.html" %} {% block head %}
    <meta name="description" content="Book Review Page" />
    <meta name="author" content="Group9" />
    <title>Book Review of (Title)</title>
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <!-- Main book -->
            <div class="col-md-4">
              <div class="bookDetails">
                <h2 class="mainHeader" align="center">
                  {{ main.title }}
                </h2>
                <p class="text-center">
                  by
                </p>
                <h5 class="text-center" style="margin-top: -10px">
                  <em>{{ main.author }}</em>
                </h5>
                <h5 class="text-center" style="margin-top: 50px; display:block">
                  Tags
                </h5>
                <div style="text-align: center;">
                  {% for t in main.tags %}
                  <a href="{{url_for('search',search_input=t)}}">
                  <span class="badge badge-info">{{ t }}</span>
                  </a>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <img class="bigBookCover" src="{{ main.cover }}" />
            </div>
            <div class="col-md-4">
              <div class="bookDesc">
                <h5>Description</h5>
                <p>
                  {{ main.desc }}
                </p>
              </div>
            </div>
          </div>
          <hr />

          <!-- Reviews -->
          <h3 align="center">User Reviews</h3>
          <p style="display:inline">Filter:</p>
          <div class="dropdown">
            <button id="filter" class="btn btn-outline-info">
              Filter by..
            </button>
            <div class="dropdown-content">
              <a href="#recent">Most Recent</a>
              <a href="#helpful">Most Helpful</a>
            </div>
          </div>
          <div class="rScroller">
            {% for r in reviews %}
            <div class="row reviewRow">
              <div class="col-md-2">
                <div class="reviewerProfile">
                  <img src="{{ r.img }}" class="rounded-circle reviewerImg" />
                  <h5 style="margin: 10px auto; text-align: center;">
                    {{ r.name }}
                  </h5>
                </div>
              </div>
              <div class="col-md-8">
                <p>
                  <strong>{{ r.text }} &ensp;</strong>
                  {% for i in range(5) %} {% if i < r.overall %}
                  <span class="stars lit">&#x2605;</span>
                  {% else %}
                  <span class="stars">&#x2605;</span>
                  {% endif %} {% endfor %}
                </p>
                <p>{{ r.summary }}</p>
              </div>
              <div class="col-md-2">
                <div class="btnGroup">
                  <p>
                    <em>Was this helpful?</em>
                  </p>
                  <button class="btn btn-success" style="margin:10px">O</button>
                  <button class="btn btn-danger" style="margin:10px">O</button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Relate books -->
        <div class="col-md-4">
          <h4 style="text-align: center;">
            Related books
          </h4>
          <hr />
          {% for r in relateds %}
          <div class="row">
            <div class="col-md-4">
              <img class="relatedBook" src="{{ r.cover }}" />
            </div>
            <div class="col-md-8 relatedDesc">
              <h5>{{ r.title }}</h5>
              <p>{{ r.author }}</p>
              {% for t in main.tags %}
              <a href="{{url_for('search',search_input=t)}}">
              <span class="badge badge-info">{{ t }}</span>
              </a>
              {% endfor %}
            </div>
          </div>
          <hr />
          {% endfor %}
        </div>
      </div>
    </div>
    <hr />

    <!-- Review form -->
    <div class="form-group">
      <div class="col-md-12">
        <form class="" method="POST">
          <h4 class="text-center mb-4">Write a Review</h4>
          <select class="form-control mb-4" id="overall" name="overall">
            <option>&#x2605;</option>
            <option>&#x2605; &#x2605;</option>
            <option>&#x2605;&#x2605;&#x2605;</option>
            <option>&#x2605;&#x2605;&#x2605;&#x2605;</option>
            <option>&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;</option>
          </select>
          <input
            type="text"
            class="form-control mb-4"
            name="summary"
            placeholder="Header"
          />
          <textarea
            class="form-control"
            name="reviewText"
            rows="5"
            placeholder="Review"
          ></textarea>
          <input
            class="btn btn-info btn-block mt-4"
            type="submit"
            value="Submit Review"
            name="reviewbutton"
          />
        </form>
      </div>
    </div>
    <div style="height: 80px; background-color: #A6D0E4;"></div>
    {% endblock %}
  </body>
</html>
