<!DOCTYPE html>
<html lang="en">

<head>
    {% extends "template.html" %}
    <title>Group9 Book Review System</title>
    <meta name="description" content="Home Page" />
    <meta name="author" content="Group9" />
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row row-adjust">
            <div class="col-md-12" style="background-image: url('static/imag/thumbnail.jpg');background-size: cover;">
                <form style="margin:180px" method="POST">
                    <div class="input-group mb-3 input-group-lg">
                        <input name="search-input" type="text" class="form-control" placeholder="Search for books">
                        <div class="input-group-append">
                            <input name="search-btn" class="btn btn-warning btn-lg" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
		<div class="row row-adjust">
			<div class="col-md-8">
				<div class="row" name="NewArrival">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">New Arrivals</h3>
							<hr/>
						</div>
						<div class="row">
							{% for i in BookInfoList %}
							<div class="card bookCover">
								<a href="{{url_for('review',asin=i['asin'])}}">
								<img src="{{i['imUrl']}}" class="card-img-top " alt="...">
								</a>
								<div>
									<p class="card-text">{{i['asin']}}
										<br/>Author</p>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="row" name="GoodReviews">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">See What Others Read</h3>
							<hr/>
						</div>
						<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="carousel-caption">
										<h4>Boyd W. - BOOK NAME</h4>
										<p>review review review review review review review review review review review review review review review review
											review review review </p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="carousel-caption">
										<h4>Diane L -BOOKNAME</h4>
										<p>review review review review review review review review review review review review review review review review
											review review review </p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="carousel-caption">
										<h4>Randall L - BOOKNAME</h4>
										<p>review review review review review review review review review review review review review review review review
											review review review </p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="carousel-caption">
										<h3>John D.</h3>
										<p>review review review review review review review review review review review review review review review review
											review review review </p>
									</div>
								</div>
								<div class="carousel-item">
									<div class="carousel-caption">
										<h3>Jody B.</h3>
										<p>TEXT</p>
									</div>
								</div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
				<div class="row" name="TrendyBook">
					<div class="col-md-12">
						<div class="mainHeader">
							<h3 align="center">Trendy</h3>
							<hr/>
						</div>
						<div class="row">
							<div class="card bookCover">
								<img src="static/imag/cover1.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover2.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover3.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover4.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover5.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover6.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover7.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>
							<div class="card bookCover">
								<img src="static/imag/cover8.jpeg" class="card-img-top " alt="...">
								<div>
									<p class="card-text">Book Title
										<br/>Author</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="row row-adjust" name="HotTags">
					<div class="col-md-12">
						<h5 align="center">Hot Tags</h5>
						<hr/>
						<span class="badge badge-info">Art</span>
						<span class="badge badge-info">Biography</span>
						<span class="badge badge-info">Business</span>
						<span class="badge badge-info">Children's</span>
						<span class="badge badge-info">Christian</span>
						<span class="badge badge-info">Classics</span>
						<span class="badge badge-info">Comics</span>
						<span class="badge badge-info">Cookbooks</span>
						<span class="badge badge-info">Ebooks</span>
						<span class="badge badge-info">Fantasy</span>
						<span class="badge badge-info">Fiction</span>
						<span class="badge badge-info">Graphic Novels</span>
						<span class="badge badge-info">Historical Fiction</span>
						<span class="badge badge-info">History</span>
						<span class="badge badge-info">Horror</span>
						<span class="badge badge-info">Memoir</span>
						<span class="badge badge-info">Music</span>
						<span class="badge badge-info">Mystery</span>
						<span class="badge badge-info">Nonfiction</span>
						<span class="badge badge-info">Poetry</span>
						<span class="badge badge-info">Psychology</span>
						<span class="badge badge-info">Romance</span>
						<span class="badge badge-info">Science</span>
						<span class="badge badge-info">Science</span>
						<span class="badge badge-info">Fiction</span>
						<span class="badge badge-info">Self Help</span>
						<span class="badge badge-info">Sports</span>
						<span class="badge badge-info">Thriller</span>
						<span class="badge badge-info">Travel</span>
						<span class="badge badge-info">Young Adult</span>
						<span class="badge badge-info">More genres</span>
					</div>
				</div>
				<div class="row row-adjust" name="Top20">
					<div class="col-md-12">
						<div class="mainHeader">
							<h5 align="center">Top 20 in Books</h5>
							<hr/>
							<ul class="list-group list-group-flush">
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Morbi leo risus</li>
								<li class="list-group-item">Porta ac consectetur ac</li>
								<li class="list-group-item">Vestibulum at eros</li>
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Morbi leo risus</li>
								<li class="list-group-item">Porta ac consectetur ac</li>
								<li class="list-group-item">Vestibulum at eros</li>
								<li class="list-group-item">Cras justo odio</li>
								<li class="list-group-item">Dapibus ac facilisis in</li>
								<li class="list-group-item">Morbi leo risus</li>
								<li class="list-group-item">Porta ac consectetur ac</li>
								<li class="list-group-item">Vestibulum at eros</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="Footer">
		<p style="color:white; margin:20px" align="center"></p>
	</div>
	{% endblock %}
</body>

</html>
