.row-adjust {
  margin: 20px;
}

a {
  color: #d4a5a5;
}

a:hover {
  color: #a6d0e4;
}

h3 {
  color: #d4a5a5;
  margin: 30px auto;
}

h4 {
  color: gray;
  margin: 30px auto;
}

h5 {
  color: gray;
  margin-top: 40px;
}

p {
  color: gray;
}

.logoCenter {
  margin: auto;
}

.navsCenter {
  margin: auto;
}

.searchCenter {
  margin: auto;
}

.mainHeader {
  margin: auto;
}

.bookCover {
  width: 175px;
  margin: auto;
  background-color: transparent;
  border-style: hidden;
}

.carousel {
  margin: auto;
}

.carousel-inner {
  height: 250px;
}

.carousel-caption {
  top: 50%;
}

.Footer {
  background-color: #a6d0e4;
  height: 60px;
  margin: auto;
}

.button-center {
  text-align: center;
}

.bookDetails {
  margin: auto;
  padding: 100px 0;
  height: 100%;
}

.bigBookCover {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 400px;
  display: block;
  margin: auto;
}

.bookDesc {
  height: 100%;
  width: 100%;
  text-align: justify;
}

.btnGroup {
  margin: auto;
  display: block;
}

.reviewButton {
  margin: 20px;
}

.relatedBook {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin: 20px auto;
}

.relatedDesc {
  width: 50%;
  margin: 20px auto;
}
.reviewerImg {
  width: 100%;
  max-width: 100px;
  max-height: 100px;
  height: auto;
  margin: auto;
  display: block;
}

.add-book-form {
  margin: 30px 200px;
}

.hCover {
  width: 100%;
  height: auto;
  max-width: 200px;
  margin-right: 0;
  margin-left: auto;
  display: block;
}

.hDetails {
  padding: 100px 0;
}

.hScroller {
  overflow: scroll;
  height: 1000px;
}

.reviewRow {
  margin-top: 50px;
  margin-bottom: 0px;
}

.rScroller {
  overflow: scroll;
  height: 600px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #fefefe;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
